html {
  height: 100%;
}
body {
  height: 100%;
  background-image: url('src/assets/image.jpg');
  background-size: cover;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
#page-content {
  flex-grow: 2;
}
